#content{
	width: 100%;
	box-sizing: border-box;
	font-size: 0em;
}

section{
	float: left;
  font-size: 1rem;
}

.span8 {
  width: 98%;
  margin: 0 1%;
  font-size: 1rem;
}

.span7 {
  width: 85.5%;
  margin: 0 1%;
  font-size: 1rem;
}

.span6 {
  width: 73%;
  margin: 0 1%;
  font-size: 1rem;
}

.span5 {
  width: 60.5%;
  margin: 0 1%;
  font-size: 1rem;
}

.span4 {
  width: 48%;
  margin: 0 1%;
  font-size: 1rem;
}

.span3 {
  width: 35.5%;
  margin: 0 1%;
  font-size: 1rem;
}

.span2 {
  width: 23%;
  margin: 0 1%;
  font-size: 1rem;
}

.span1 {
  width: 10.5%;
  margin: 0 1%;
  font-size: 1rem;
}

.offset7 {
  margin-left: 88.5%;
}

.offset6 {
  margin-left: 76%;
}

.offset5 {
  margin-left: 63.5%;
}

.offset4 {
  margin-left: 51%;
}

.offset3 {
  margin-left: 38.5%;
}

.offset2 {
  margin-left: 26%;
}

.offset1 {
  margin-left: 13.5%;
}

.row{
	display: block;
	box-sizing: border-box;
  clear: left;
}